{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-4 bookDetailLeftSide">
        <img class="bookImage" src="{{ book.image }}" alt=""> <br>
        {% if book.actual_rating %}
        {% for rate in book.actual_rating %}
        <span class="fa fa-star checked"></span>
        {% endfor %}
        <br>
        Num of rates({{ book.reviews.count }})<br>
        {% else %}
        <br>
        <h6>Nobody rated</h6>
        {% endif %}
        {% if user.is_authenticated %}
        Give star:
        <a href="{% url 'rate_book' slug=book.slug rating=1 %}">1</a>
        <a href="{% url 'rate_book' slug=book.slug rating=2 %}">2</a>
        <a href="{% url 'rate_book' slug=book.slug rating=3 %}">3</a>
        <a href="{% url 'rate_book' slug=book.slug rating=4 %}">4</a>
        <a href="{% url 'rate_book' slug=book.slug rating=5 %}">5</a> <br>
        <a href="#commentBox">Num of comments ({{ book.comments.count }})</a>
        {% else %}
        <a href="{% url 'login_to_comment_redirect' slug=book.slug %}">
            <button class="btn btn-success btn-xs">Add star (login)</button></a>
        {% endif %}

        <br><br>
        <a href="{% url 'map' slug=book.slug %}" class="btn btn-light btn-xs"> Map! </a>

    </div>
    <div class="col-md-8">
        <h4><strong>{{ book.title }}</strong> </h4>
        <h5><strong>Author:</strong> {{ book.author }}</h5>
        <h6><strong>Description:</strong> </h6>
        <p> {{ book.description }}</p>
        <hr class="my-4">
        <div id="commentBox">
            {% if user.is_authenticated %}
            <form method="post" class="formsWidth">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-dark">Add comment</button>
            </form>

            {% else %}
            <a href="{% url 'login_to_comment_redirect' slug=book.slug %}"><button class="btn btn-dark disabled btn-xs">Add
                    comment (login)</button></a>
            {% endif %}

            {% if comments %}
            <br><br>
            <h6>Comments({{ book.comments.count }})</h6>
            {% for comment in comments %}
            <br>
            <div>
                <h6><strong>{{ comment.user.username }}</strong></h6>
                <h6 class="comment_text">{{ comment.text }}</h6>
                <button type="submit" class="btn btn-default">Modify your comment</button>
            </div>
            <hr class="my-4">
            {% endfor %}
            {% else %}
            <br><br>
            <h6>No comments here yet</h6>

            {% endif %}
        </div>
    </div>



</div>









{% endblock content %}