{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-4 bookDetailLeftSide">
        <img class="bookImage" src="{{ book.image }}" alt=""> <br>
        {% if book.actual_rating %}
        {% for rate in book.actual_rating %}
        <span class="fa fa-star checked"></span>
        {% endfor %}
        <br>
        Num of rates({{ book.reviews.count }})<br>
        {% else %}
        <br>
        <h6>Nobody rated</h6>
        {% endif %}
        {% if user.is_authenticated %}
        Give star:
        <a href="{% url 'rate_book' slug=book.slug rating=1 %}">1</a>
        <a href="{% url 'rate_book' slug=book.slug rating=2 %}">2</a>
        <a href="{% url 'rate_book' slug=book.slug rating=3 %}">3</a>
        <a href="{% url 'rate_book' slug=book.slug rating=4 %}">4</a>
        <a href="{% url 'rate_book' slug=book.slug rating=5 %}">5</a> <br>
        <a href="#commentBox">Num of comments ({{ book.comments.count }})</a>
        {% else %}
        <a href="{% url 'login_to_comment_redirect' slug=book.slug %}">
            <button class="btn btn-success btn-xs">Add star (login)</button></a>
        {% endif %}

        <br><br>
        <a href="{% url 'map' slug=book.slug %}" class="btn btn-success btn-xs"> test_map </a>

    </div>
    <div class="col-md-8">
        <h5><strong>{{ book.title }}</strong> </h5>
        <h5><strong>Author:</strong> {{ book.author }}</h5>
        <h6><strong>Description:</strong> </h6>
        <p> {{ book.description }}</p>
        <hr class="my-4">
        <div id="commentBox">
            {% if user.is_authenticated %}
            <form method="post" class="formsWidth">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Add comment</button>
            </form>

            {% else %}
            <a href="{% url 'login_to_comment_redirect' slug=book.slug %}"><button class="btn btn-success btn-xs">Add
                    comment (login)</button></a>
            {% endif %}

            {% if comments %}
            <br> <br>
            <h6>Comments({{ book.comments.count }}):</h6>
            {% for comment in comments %}
            <div>
                <h6><strong>{{ comment.user.username }}</strong></h6>
                <h6 class="comment_text">{{ comment.text }}</h6>
                <!--                <input tye= value... >-->
                <button type="submit" class="btn btn-default">Modify your comment</button>


            </div>
            <hr class="my-4">
            {% endfor %}
            {% else %}
            <h6>No comments here yet</h6>

            {% endif %}
        </div>
    </div>



</div>


<!--<input type="button" id="myBtn" value="Open Modal">-->
<button id="myBtn">Open Modal</button>



<!--<td>-->
<!--<button type='button' onclick="pg('p',this);">+</button>-->
<!--<input type='text' name="pp" value="0" readonly="readonly" />-->
<!--<button type='button' onclick="pg('m',this);">-</button>-->
<!--</td>-->

<!--<script>-->
<!--function pg(type, ths) {-->
<!--    var tinput = $(ths).parents("td").find("input[name='pp']");-->
<!--    var tCount = Number(tinput.val());-->
<!--    if (type=='p'){-->
<!--        tinput.val(Number(tCount)+1);-->
<!--        console.log('plus')-->
<!--    }-->
<!--    else{-->
<!--        if(tCount>0) tinput.val((Number)-1);-->
<!--        console.log('m')-->
<!--    }-->
<!--}-->
<!--// </script>-->



    <!-- The Modal -->
        <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">

        <span id="pop_up" class = "close" > &times; </span>


          <div class="map_wrap">
            <div id="map" style="width:100%; height:100%; position:relative; overflow:hidden;"></div>

                <div id="menu_wrap" class="bg_white">
                    <div class="option">

                    </div>
                    <hr>
                <ul id="placesList"></ul>
                <div id="pagination"></div>

                </div>
                <form>
                        <input type=hidden name=amount value = 1 id="countid">
                        <input type=button id="plus" value="다음" onClick="javascript:this.form.amount.value++;">
                        <input type=button value="이전" onClick="javascript:this.form.amount.value--;">
                </form>
          </div>

      </div>


      </div>




<script>
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        var modal_content = document.getElementsByClassName("modal-content")[0];

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {

            if (modal_content.innerText == ""){
                alert('해당 도서를 소지한 도서관이 없습니다.')
            }

            else {
                modal.style.display = "block";
            }

        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $("#plus").live('click', function(event){
         alert( "GO" );
        });


</script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1a25e3f461e21becf81f9f64bc8294ee&libraries=services,clusterer,drawing"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<script>

    function positions(){
        var key = "{{book.slug}}"
        var countkey = $("#countid").val();
        console.log(key)
        console.log(countkey)
        var a = []
        $.ajax({
            async: false, // ajax sync를 동기 방식으로 할지, 비동기 방식으로 할지  비동기 방식의 호출은 true!
            url: "http://data4library.kr/api/libSrchByBook?authKey=7c13c92835efd61acbd29f0c063681edc677826e63789b00c1c48d2c9bd49440&region=11&pageSize=10&format=json&isbn="+key+"&pageNo="+countkey,
            type: "GET",
            timeout: 3000,
            dataType: "json",  // 결과 JSON을 JavaScript객체로 변환
            success: function (result) {   // 서버가 주는 데이터 : result

                  if (result.response.resultNum == 0) {
                    $(".modal-content").empty()
                  }

                  else{
                $.each(result.response.libs, function (idx, item) {  // for문과 동일한 방식이다. 각각의 result에 대해 function을 수행

                    var libcode = item.lib.libCode
                    var rent = call_rent(libcode, key)

                    if (rent == 'Y'){
                    var b = {}
                    b['place_name'] = item.lib.libName
                    b['road_address_name'] = item.lib.address
                    b['address_name'] = ''
                    b['y'] = item.lib.latitude
                    b['x'] = item.lib.longitude
                    b['phone'] = item.lib.tel
                    b['loanAvailable'] = rent
                    b['homepage'] = item.lib.homepage
                    b['closed'] = item.lib.closed
                    b['operatingTime'] = item.lib.operatingTime

                    a.push(b)}

                    else {
                    }

                    })

            }}
            ,

            error: function (request, status, error) {
                alert("code = " + request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                console.log(error)
            },
        })
        return a
    }

    function call_rent(libcode, ISBN) {
        var rent_avail
        $.ajax({
            async: false, // ajax sync를 동기 방식으로 할지, 비동기 방식으로 할지  비동기 방식의 호출은 true!
            url: "http://data4library.kr/api/bookExist?authKey=7c13c92835efd61acbd29f0c063681edc677826e63789b00c1c48d2c9bd49440&format=json&libCode="+libcode+"&isbn13="+ISBN,
            type: "GET",
            timeout: 3000,
            dataType: "json",  // 결과 JSON을 JavaScript객체로 변환
            success: function (result) {
                rent_avail = result.response.result.loanAvailable
            },
        })
        return rent_avail
    }
</script>


<script>



    var markers = []; // marker 빈 리스트 생성
    var infowindow = new kakao.maps.InfoWindow({zIndex: 1});
    var positions = positions();

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.509581, 127.05531), // 지도의 중심좌표
            level: 3, // 지도의 확대 레벨

        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    map.setMaxLevel(8);

     setTimeout(function () {
        map.relayout()
    }, 1000);

// 마커를 표시할 위치와 title 객체 배열입니다
    placesSearchCB(positions, 1, pagination);

    function placesSearchCB(data, status, pagination) {
        // 정상적으로 검색이 완료됐으면
        // 검색 목록과 마커를 표출합니다
        displayPlaces(data);
        // 페이지 번호를 표출합니다
        displayPagination(pagination);
    }

    function displayPlaces(places) {

        var listEl = document.getElementById('placesList'),
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(), // 상의 노드 객체, 메모리상에서만 존재하는 비 문서 탬플릿
            bounds = new kakao.maps.LatLngBounds(),
            listStr = '';

        // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeAllChildNods(listEl);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();

        for (var i = 0; i < places.length; i++) {

            // 마커를 생성하고 지도에 표시합니다
            var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x), // position에서 위도와 경도를 이용해
                marker = addMarker(placePosition, i),
                itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다

            bounds.extend(placePosition);
            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            (function (marker, title, place) {
                // kakao.maps.event.addListener(marker, 'mouseover', function() {
                //     displayInfowindow(marker, title);
                // });
                kakao.maps.event.addListener(marker, 'mouseout', function () {
                    infowindow.close();
                });
                kakao.maps.event.addListener(marker, 'click', function () {
                    overlay(marker, place);
                    // customOverlay(marker,place)
                });
                // itemEl.onmouseover =  function () {
                //     displayInfowindow(marker, title);
                // };
                itemEl.onmouseout = function () {
                    infowindow.close();
                };
                itemEl.onclick = function () {
                    setCenter(place.y, place.x)
                    displayInfowindow(marker, title);
                };
            })(marker, places[i].place_name, places[i]);
            fragment.appendChild(itemEl);
        }
        // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
        listEl.appendChild(fragment);
        menuEl.scrollTop = 0; // 스크롤바 생성
        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다

        map.setBounds(bounds);

        var bd = new kakao.maps.LatLngBounds();
        bd.da = bounds.da - 0.25;
        bd.ia = bounds.ia - 0.25;
        bd.ja = bounds.ja + 0.08;
        bd.ka = bounds.ka + 0.08;
        map.setBounds(bd)
        console.log(bd)

        map.relayout();
    }

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    function addMarker(position, idx, title) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions = {
                spriteSize: new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                spriteOrigin: new kakao.maps.Point(0, (idx * 46) + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
                id: idx,
                position: position, // 마커의 위치
                image: markerImage
            });
        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다
        return marker;
    }

    function getListItem(my_id, places) {
        var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (my_id + 1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

        if (places.road_address_name) {
            itemStr += '    <span>' + places.road_address_name + '</span>' +
                '   <span class="jibun gray">' + places.address_name + '</span>';
        } else {
            itemStr += '    <span>' + places.address_name + '</span>';
        }
        itemStr += '  <span class="tel">' + places.phone + '</span>' +
            '</div>';

        el.innerHTML = itemStr;
        el.className = 'item';
        return el;
    }

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i;
        // 기존에 추가된 페이지번호를 삭제합니다
        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild(paginationEl.lastChild);
        }
        for (i = 1; i <= pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;

            if (i === pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function (i) {
                    return function () {
                        pagination.gotoPage(i);
                    }
                })(i);
            }
            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }

// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
// 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
        var content = '<div style= "padding: 10px; z-index:1; width: 100%;">' + title + '</div>';
        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    function overlay(marker, place) {
        var content = '<div style="margin:10px; z-index:1; width: 100%;height: 100%;">' + '<span>' + place.place_name + '</span><br>';
        content += '<span>' + '주소 : ' + place.road_address_name + '</span> <br>';
        content += '   <span class="tel">' + '전화번호 : ' + place.phone + '</span><br>';
        content += '   <span class="e_address">' + '홈페이지 : ' + place.homepage + '</span><br>';
        content += '   <span class="c_time">' + '휴   일 : ' + place.closed + '</span><br>';
        content += '<span class="o_time">' + '운영시간 : ' + place.operatingTime + '</span><br>';
        if (place.loanAvailable == 'Y') {
            content += '<span class = "loan_T">' + '대출 가능' + '</span>' + '</div>';
        } else {
            content += '<span class = "loan_F">' + '대출 불가능' + '</span>' + '</div>';
        }

        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    function setCenter(a, b) {
        var moveLatLon = new kakao.maps.LatLng(a, b);
        map.setLevel(3);
        map.setCenter(moveLatLon);
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function removeMarker() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    function removeAllChildNods(el) {
        while (el.hasChildNodes()) {
            el.removeChild(el.lastChild);
        }
    }

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
</script>





{% endblock content %}